﻿@model IEnumerable<AirBnB.Models.User>

@{
    ViewBag.Title = "ListAdmins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Admins</h2>

@using (Html.BeginForm("ListAdmins", "Accounts", FormMethod.Get))
{
    //the following are search options
    <b> Search Option:  </b>@Html.RadioButton("option", "Username") <text>Username</text> @Html.RadioButton("option", "Gender") <text>Gender</text>
    @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
    @Html.ActionLink("Reset", "ListAdmins");

}
<br />
<table class="table">
    <tr>
        <th> @Html.ActionLink("Username", "ListAdmins", new { sort = ViewBag.SortByUsername, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th>Password</th>
        <th> @Html.ActionLink("Name", "ListAdmins", new { sort = ViewBag.SortByName, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Surname", "ListAdmins", new { sort = ViewBag.SortBySurname, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Gender", "ListAdmins", new { sort = ViewBag.SortByGender, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>

        </tr>
    }
</table>