﻿@model AirBnB.Models.User

@{
    ViewBag.Title = "ListMyApartments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of my Apartments</h2>

@using (Html.BeginForm("ListMyApartments", "Accounts", FormMethod.Get))
{
    <text> Search options:  </text>
    <input type="radio" value="Location" id="locationOpt" name="option" checked /><label>Location </label>
    <input type="radio" value="Guests" id="guestsOpt" name="option" /><label>Guests </label>
    <input type="radio" value="Rooms" id="roomsOpt" name="option" /><label>Rooms </label>
    <input type="radio" value="Price" id="priceOpt" name="option" /><label>Price </label>
    <label>   </label>

    <div>
        <input type="text" name="search" />
        <input type="submit" name="submit" value="Search" />
        @Html.ActionLink("Reset", "ListMyApartments")
    </div>
    <div id="show-me" hidden>
        <br /><input type="text" name="search2" /><b> (max value)</b>
    </div>
}
<br />

<p>
    @using (Html.BeginForm("ListMyApartments", "Accounts", FormMethod.Get))
    {
        <label>Type </label>
        <select class="ddownColor" id="typeFilter" name="typeFilter">
            <option value="EntirePlace" selected="selected">Entire place</option>
            <option>Room</option>
        </select>
        <button class="ddownColor" type="submit" name="submit" value="TypeFilter">Filter</button>

    }
    @using (Html.BeginForm("ListMyApartments", "Accounts", FormMethod.Get))
    {
        <label>Status </label>
        <select class="ddownColor" id="statusFilter" name="statusFilter">
            <option selected="selected">Active</option>
            <option>Inactive</option>
        </select>
        <button class="ddownColor" type="submit" name="submit" value="StatusFilter">Filter</button>
    }
    @using (Html.BeginForm("ListMyApartments", "Accounts", FormMethod.Get))
    {
        <text>Amenity</text>
        <select class="ddownColor" id="amenityFilter" name="amenityFilter">
            @foreach (var item in ViewBag.Amnts)
            {
                if (item.IsDeleted == false)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            }
        </select>
        <button class="ddownColor" type="submit" name="submit" value="AmenityFilter">Filter</button>
    }
</p>
<br />

<table class="table">
    <tr>
        <th> @Html.ActionLink("Type", "ListMyApartments", new { sort = ViewBag.SortByType, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Price", "ListMyApartments", new { sort = ViewBag.SortByPrice, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Rooms", "ListMyApartments", new { sort = ViewBag.SortByRooms, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Guests", "ListMyApartments", new { sort = ViewBag.SortByGuests, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Status", "ListMyApartments", new { sort = ViewBag.SortByStatus, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("City", "ListMyApartments", new { sort = ViewBag.SortByCity, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Street", "ListMyApartments", new { sort = ViewBag.SortByStreet, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
    </tr>

    @foreach (var apartment in Model.ApartmentsForRent)
    {
    <tr>
        <td>@apartment.Type</td>
        <td>@apartment.Price</td>
        <td>@apartment.NumberOfRooms</td>
        <td>@apartment.NumberOfGuests</td>
        <td>@apartment.Status</td>
        <td>@apartment.Location.Address.City</td>
        <td>@apartment.Location.Address.Street</td>
        <td>
            @Html.ActionLink("Edit", "EditApartmentVM", new { Controller = "Apartments", action = "EditApartmentVM", id = apartment.Id })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { Controller = "Apartments", action = "Delete", id = apartment.Id })
        </td>
    </tr>
    }
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $('input[type="radio"]').click(function () {
            if ($(this).attr('id') == 'priceOpt' || $(this).attr('id') == 'roomsOpt') {
                $('#show-me').show();
            }
            else {
                $('#show-me').hide();
            }
        });
    });
</script>

<style>
    #show-me {
        display: none;
    }
    .ddownColor {
        color:black;
        width: 110px;
    }
    label {
        width:70px;
        font-size: 15px;
    }
    button {
        height: 27px
    }
</style>