﻿@model IEnumerable<AirBnB.Models.User>

@{
    /**/

    ViewBag.Title = "ListUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Users</h2>

@using (Html.BeginForm("ListUsers", "Accounts", FormMethod.Get))
{
    //the following are search options
    <b> Search Option:  </b>@Html.RadioButton("option", "Username") <text>Username</text> @Html.RadioButton("option", "Gender") <text>Gender</text>
    @Html.RadioButton("option", "Role")<text>Role </text> @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
    @Html.ActionLink("Reset", "ListUsers");

}
<br />
<table class="table">
    <tr>
        <th>User id</th>
        <th> @Html.ActionLink("Username", "ListUsers", new { sort = ViewBag.SortByUsername, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th>Password</th>
        <th> @Html.ActionLink("Name", "ListUsers", new { sort = ViewBag.SortByName, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Surname", "ListUsers", new { sort = ViewBag.SortBySurname, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Gender", "ListUsers", new { sort = ViewBag.SortByGender, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Role", "ListUsers", new { sort = ViewBag.SortByRole, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            
            <td>
                @Html.ActionLink("EDIT", "Edit", new { id = item.Id }) |
                @Html.ActionLink("MAKE HOST", "MakeHost", new { id = item.Id }) |
                @Html.ActionLink("dlt", "Delete", new { id = item.Id }) |
            </td>
        </tr>
    }

</table>
