﻿
@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["Id"] != null)
{
    <h3>Welcome @Session["Username"].ToString()!</h3>
}

@if ((string)Session["Role"] == "Host")
{
    @Html.ActionLink("Add a new apartment", "AddApartment", "Apartments");
} <br />

@if ((string)Session["Role"] == "Host")
{
    @Html.ActionLink("List of my apartments", "ListMyApartments", "Accounts");
}