﻿@model AirBnB.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .content {
        width: 25%;
        margin: auto;
    }

    .left {
        width: 30%;
        float: left;
        text-align: right;
    }

    .right {
        width: 65%;
        margin-left: 10px;
        float: left;
        border-radius: 5px;
        padding: 4px;
        height: 30px;
    }

    .signupbutton {
        text-align: center;
        width: 25em;
        background-color: green;
        color: white;
        border-radius: 10px;
        background: #73AD21;
        padding: 5px;
    }

    form {
        margin: auto;
        width: 25em;
        text-align: center;
        position: relative;
    }
</style>

<html>
<body>
    <div style="margin: 0px auto 0px auto; width: 400px">
        <form action="Login" method="post">
            <h2>You registered as guest successfully! You can log in now.</h2> <br />
            <fieldset>
                <label class="left" for="username">Username </label>
                <input class="right" type="text" id="username" name="username" required> <br /><br />

                <label class="left" for="password">Password </label>
                <input class="right" type="password" id="password" name="password" required> <br /><br /><br />

                <button class="signupbutton" type="submit">Login</button>
            </fieldset>
        </form>
    </div>
</body>
</html>