﻿
@{
    ViewBag.Title = "MakeNewHost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .content {
        width: 25%;
        margin: auto;
    }

    .left {
        width: 30%;
        float: left;
        text-align: right;
    }

    .right {
        width: 65%;
        margin-left: 10px;
        float: left;
        border-radius: 5px;
        padding: 4px;
        height: 30px;
    }

    .signupbutton {
        text-align: center;
        width: 25em;
        background-color: green;
        color: white;
        border-radius: 10px;
        background: #73AD21;
        padding: 5px;
    }

    form {
        margin: auto;
        width: 25em;
        text-align: center;
        position: relative;
    }
</style>

<html>
<body>
    <div style="margin: 0px auto 0px auto; width: 400px">
        <form action="MakeNewHost" method="post">
            <h1>Add a new host</h1> <br />
            <fieldset>
                <label class="left" for="username">Username </label>
                <input class="right" type="text" id="username" name="username" required> <br /><br />

                <label class="left" for="name">Name </label>
                <input class="right" type="text" id="name" name="name" required> <br /><br />

                <label class="left" for="surname">Surname </label>
                <input class="right" type="text" id="surname" name="surname" required> <br /><br />

                <label class="left" for="password">Password </label>
                <input class="right" type="password" id="password" name="password" required> <br /><br />

                <label class="left">Gender </label>
                <input type="radio" name="gender" value="male" checked> Male
                <input type="radio" name="gender" value="female"> Female<br><br />

                @Html.AntiForgeryToken()
                <button class="signupbutton" type="submit">Add</button>
            </fieldset>
        </form>
    </div>
</body>
</html>