﻿@model AirBnB.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .content {
        width: 25%;
        margin: auto;
    }

    .left {
        width: 30%;
        float: left;
        text-align: right;
    }

    .right {
        width: 65%;
        margin-left: 10px;
        float: left;
        border-radius: 5px;
        padding: 4px;
        height: 30px;
    }

    .signupbutton {
        text-align: center;
        width: 25em;
        background-color: green;
        color: white;
        border-radius: 10px;
        background: #73AD21;
        padding: 5px;
    }

    form {
        margin: auto;
        width: 25em;
        text-align: center;
        position: relative;
    }
</style>

<html>
<body>
    <div style="margin: 0px auto 0px auto; width: 400px">
        <form action="Register" method="post">
            <h1>Sign Up</h1> <br />
            <div class="left">@Html.LabelFor(model => model.Username)</div>
            <div class="right">@Html.EditorFor(model => model.Username)</div>
            <div>@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })</div>

            <div class="left">@Html.LabelFor(model => model.Name)</div>
            <div class="right">@Html.EditorFor(model => model.Name)</div>
            <div>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</div>

            <div class="left">@Html.LabelFor(model => model.Surname)</div>
            <div class="right">@Html.EditorFor(model => model.Surname)</div>
            <div>@Html.ValidationMessageFor(m => Model.Surname)</div>

            <div class="left">@Html.LabelFor(model => model.Password)</div>
            <div class="right">@Html.EditorFor(model => model.Password)</div>
            <div>@Html.ValidationMessageFor(m => Model.Password)</div>

            <div class="left">@Html.LabelFor(model => model.Gender)</div>
            @Html.RadioButtonFor(model => model.Gender, "Male", new { Checked = "checked" })<text>Male</text>
            @Html.RadioButtonFor(model => model.Gender, "Female")<text>Female</text> 

            @Html.AntiForgeryToken()
            <button class="signupbutton" type="submit">Register</button>
        </form>
    </div>
</body>
</html>