﻿@model AirBnB.ViewModels.ApartmantAmenityVM

@{
    ViewBag.Title = "AddApartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .content {
        width: 25%;
        margin: auto;
    }

    .left {
        width: 30%;
        float: left;
        text-align: right;
    }

    .right {
        width: 65%;
        margin-left: 10px;
        float: left;
        border-radius: 5px;
        padding: 4px;
        height: 30px;
    }

    .signupbutton {
        text-align: center;
        width: 25em;
        background-color: green;
        color: white;
        border-radius: 10px;
        background: #73AD21;
        padding: 5px;
    }

    form {
        margin: auto;
        width: 25em;
        text-align: center;
        position: relative;
    }
</style>
<html>
<body>
    <form name="myForm" action="AddApartment" method="post" enctype="multipart/form-data">
        <h2>Add a new place...</h2> <br />

        <div class="left">@Html.LabelFor(model => model.Apartment.NumberOfRooms)</div>
        <div class="right">@Html.EditorFor(model => model.Apartment.NumberOfRooms, new { @value = "" })</div>
        <div>@Html.ValidationMessageFor(model => model.Apartment.NumberOfRooms, "", new { @class = "text-danger" })</div>
        
        <div class="left">@Html.LabelFor(model => model.Apartment.NumberOfGuests)</div>
        <div class="right">@Html.EditorFor(model => model.Apartment.NumberOfGuests)</div>
        <div>@Html.ValidationMessageFor(model => model.Apartment.NumberOfGuests, "", new { @class = "text-danger" })</div>

        <div class="left">@Html.LabelFor(model => model.Apartment.Price)</div>
        <div class="right">@Html.EditorFor(model => model.Apartment.Price)</div>
        <div>@Html.ValidationMessageFor(m => Model.Apartment.Price)</div>

        <div class="left">@Html.LabelFor(model => model.Apartment.Location.Latitude)</div>
        <div class="right">@Html.EditorFor(model => model.Apartment.Location.Latitude)</div>
        <div>@Html.ValidationMessageFor(m => Model.Apartment.Location.Latitude)</div>

        <div class="left">@Html.LabelFor(model => model.Apartment.Location.Longitude)</div>
        <div class="right">@Html.EditorFor(model => model.Apartment.Location.Longitude)</div>
        <div>@Html.ValidationMessageFor(m => Model.Apartment.Location.Longitude)</div>

        <div class="left">@Html.LabelFor(model => model.Apartment.Location.Address.Street)</div>
        <div class="right">@Html.EditorFor(model => model.Apartment.Location.Address.Street)</div>
        <div>@Html.ValidationMessageFor(m => Model.Apartment.Location.Address.Street)</div>

        <div class="left">@Html.LabelFor(model => model.Apartment.Location.Address.Number)</div>
        <div class="right">@Html.EditorFor(model => model.Apartment.Location.Address.Number)</div>
        <div>@Html.ValidationMessageFor(m => Model.Apartment.Location.Address.Number)</div>

        <div class="left">@Html.LabelFor(model => model.Apartment.Location.Address.City)</div>
        <div class="right">@Html.EditorFor(model => model.Apartment.Location.Address.City)</div>
        <div>@Html.ValidationMessageFor(m => Model.Apartment.Location.Address.City)</div>

        <div class="left">@Html.LabelFor(model => model.Apartment.Location.Address.PostalCode)</div>
        <div class="right">@Html.EditorFor(model => model.Apartment.Location.Address.PostalCode)</div>
        <div>@Html.ValidationMessageFor(m => Model.Apartment.Location.Address.PostalCode)</div>

        <div class="left">@Html.LabelFor(model => model.Apartment.CheckIn)</div>
        <div class="right">@Html.EditorFor(model => model.Apartment.CheckIn)</div>
        <div>@Html.ValidationMessageFor(m => Model.Apartment.CheckIn)</div>

        <div class="left">@Html.LabelFor(model => model.Apartment.CheckOut)</div>
        <div class="right">@Html.EditorFor(model => model.Apartment.CheckOut)</div>
        <div>@Html.ValidationMessageFor(m => Model.Apartment.CheckOut)</div>

        <label class="left" for="imgs">Images </label>
        <input class="right" type="file" name="file" multiple="multiple" /> <br> <br>

        <label class="left" for="amenities">Amenities </label>
        @foreach (var item in Model.Amenities)
        {

            <input type="checkbox" name="selectedCheckboxes" value="@item.Id" width="5" />
            @item.Name
        }
        <br />
        <div class="left">@Html.LabelFor(model => model.Apartment.Type)</div>
        @Html.RadioButtonFor(model => model.Apartment.Type, "Room", new { Checked = "checked" })<text>Room</text>
        @Html.RadioButtonFor(model => model.Apartment.Type, "EntirePlace")<text>Entire place</text>

        @Html.AntiForgeryToken()
        <button class="signupbutton" type="submit">Add</button>
    </form>

</body>
</html>