﻿@model AirBnB.Models.Apartment

@{
    ViewBag.Title = "ApartmentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Apartment @Model.Id details</h3>

    @if ((string)Session["Role"] == "Admin" || (string)Session["Role"] == "Host")
    {
        <p>
            @Html.ActionLink("Back to all apartments", "ListAllApartments")
        </p>
    }
    else 
    {
        <p>
            @Html.ActionLink("Back to all apartments", "ListApartmentsLoggedOut")
        </p>
    }

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            Rooms
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>

        <dt>
            Max guests
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>

        <dt>
            Price($) per night
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Check-in time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            Check-out time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt>Address</dt>
        <dd>
            @Html.DisplayFor(model => model.Location.Address.Street)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Location.Address.Number)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Location.Address.PostalCode)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Location.Address.City)
        </dd>

        <dt>Host's usernname</dt>
        <dd>
            @Html.DisplayFor(model => model.Host.Username)
        </dd>

        <dt>Status</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>

        <dt>@Html.ActionLink("Reviews", "ViewApartmentReviews", new { id = Model.Id }) </dt>
        <dd>
        </dd>

        <dt>@Html.ActionLink("Amenities", "ViewApartmentAmenities", new { id = Model.Id })</dt>
        <dd></dd>

        <dt>@Html.ActionLink("Images", "ViewApartmentImages", new { id = Model.Id })</dt>
        <dd></dd>
    </dl>
</div>