﻿@model AirBnB.ViewModels.ApartmantAmenityVM

@{
    ViewBag.Title = "EditApartmentVM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditApartment", "Apartments", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Apartment</h4>
    id - @Model.Apartment.Id
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(Model => Model.Apartment.Id)

    @if ((string)Session["Role"] == "Host")
    {
        <p>@Html.ActionLink("Back to my apartments", "ListMyApartments", "Accounts")</p>
    }
    else if ((string)Session["Role"] == "Admin")
    {
        <p>@Html.ActionLink("Back to all apartments", "ListAllApartments", "Apartments")</p>
    }

    <div class="form-group">
        <label class="control-label col-md-2">Type</label>
        <div class="col-md-10">
            Room @Html.RadioButtonFor(model => model.Apartment.Type, "Room")
            Entire place @Html.RadioButtonFor(model => model.Apartment.Type, "EntirePlace")
            <!--<input type="radio" name="Apartment.Type" value="EntirePlace"> Entire place<br>-->
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apartment.NumberOfRooms, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apartment.NumberOfRooms, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment.NumberOfRooms, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apartment.NumberOfGuests, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apartment.NumberOfGuests, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment.NumberOfGuests, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apartment.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apartment.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apartment.CheckIn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apartment.CheckIn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment.CheckIn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apartment.CheckOut, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apartment.CheckOut, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment.CheckOut, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Status</label>
        <div class="col-md-10">
            Active @Html.RadioButtonFor(model => model.Apartment.Status, "Active")
            Inactive @Html.RadioButtonFor(model => model.Apartment.Status, "Inactive")
            <!--<input type="radio" name="Apartment.Type" value="EntirePlace"> Entire place<br>-->
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apartment.Location.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apartment.Location.Longitude, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment.Location.Longitude, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apartment.Location.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apartment.Location.Latitude, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment.Location.Latitude, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apartment.Location.Address.Street, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apartment.Location.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment.Location.Address.Street, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apartment.Location.Address.Number, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apartment.Location.Address.Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment.Location.Address.Number, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apartment.Location.Address.City, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apartment.Location.Address.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment.Location.Address.City, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apartment.Location.Address.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apartment.Location.Address.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment.Location.Address.PostalCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">
            @Html.ActionLink("Amenities", "EditAptAmenities", new { id = Model.Apartment.Id })
        </label>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">
            @Html.ActionLink("Reviews", "EditAptReviews", new { id = Model.Apartment.Id })
        </label>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">
            @Html.ActionLink("Images", "EditAptImages", new { id = Model.Apartment.Id })
        </label>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
