﻿@model AirBnB.ViewModels.ApartmantAmenityVM

@{
    ViewBag.Title = "EditAptAmenities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Current amenities</h4>
<form action="EditAptAmenities" method="post">

    <table class="table">
        @foreach (var item in Model.Apartment.Amenities)
        {
            if (item.IsDeleted == false)
            {
                <tr>
                    <td width="10"><input type="checkbox" name="selectedCheckboxes" value="@item.Id" width="10" checked /></td>
                    <td>@item.Name</td>
                </tr>
            }
        }
    </table>

    <h3>More available amenities</h3>
    <table class="table">
        @foreach (var item in Model.Amenities)
        {
            <tr>
                <td width="10"><input type="checkbox" name="selectedCheckboxes" value="@item.Id" width="10" /></td>
                <td>@item.Name</td>
            </tr>
        }
    </table>
    <input name="AptId" value=@ViewBag.AptId hidden />
    @Html.AntiForgeryToken()
    <input type="submit" value="Add" />
</form>