﻿@model IEnumerable<AirBnB.Models.Image>

@{
    ViewBag.Title = "ViewApartmentImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Apartment Images</h3>
<p>*to delete a picture, check the box before it.</p>
<p>
    @Html.ActionLink("Back to apartment info", "EditApartmentVM", new { id = ViewBag.AptId })
</p>
<form action="@Url.Action("DeleteAptImages", "Apartments", new { id = ViewBag.AptId } )" method="post" enctype="multipart/form-data">

    @foreach (var image in Model)
    {
    <input type="checkbox" width="10" name="selectedCheckboxes" value="@image.Id" />
    <img src="~/Images/@image.Name" height="150" width="200" />
    }
    <br /><br />
    <input name="AptId" value=@ViewBag.AptId hidden />
    @Html.AntiForgeryToken()
    <input type="submit" value="Delete" />
</form>

    <br />
    <form action="@Url.Action("AddAptImages", "Apartments", new { id = ViewBag.AptId } )" method="post" enctype="multipart/form-data">
        <p>Add new images</p>
        <input class="right" type="file" name="file" multiple="multiple" /> <br />
        <input name="AptId" value=@ViewBag.AptId hidden />
        @Html.AntiForgeryToken()
        <input type="submit" value="Add" />
    </form>
