﻿@model AirBnB.Models.Apartment
@{
                /**/

                ViewBag.Title = "EditAptReviews";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apartment Reviews</h2>

<p>
    @Html.ActionLink("Back to apartment", "EditApartmentVM", new { id = ViewBag.AptId })
</p>
<table class="table">
    <tr>
        <th>
            Who wrote it
        </th>
        <th>
            Comment
        </th>
        <th>
            Rating
        </th>
        <th></th>
        <th>Hidden?</th>
    </tr>

    @foreach (var item in Model.Reviews)
    {
        <tr>
            <td>@item.Guest.Username</td>
            <td>@item.Comment</td>
            <td>@item.Rating</td>
            <td>
                @Html.ActionLink("Hide", "Hide", "Reviews", new { id = item.Id }, null)
            </td>
            <td>@item.IsHidden</td>
        </tr>
    }

</table>