﻿@model IEnumerable<AirBnB.Models.Apartment>
@{
    ViewBag.Title = "ListApartmentsLoggedOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of all active apartments</h2>


@using (Html.BeginForm("ListApartmentsLoggedOut", "Apartments", FormMethod.Get))
{
    <b> Search options:  </b>
    <input type="radio" value="Location" id="locationOpt" name="option" checked/><label>Location </label>
    <input type="radio" value="Guests" id="guestsOpt" name="option" /><label>Guests </label>
    <input type="radio" value="Rooms" id="roomsOpt" name="option" /><label>Rooms </label>
    <input type="radio" value="Price" id="priceOpt" name="option" /><label>Price </label>
    <label>   </label>

    <div>
        <input type="text" name="search" />
        <input type="submit" name="submit" value="Search" />
        @Html.ActionLink("Reset", "ListApartmentsLoggedOut")
    </div>
    <div id="show-me" hidden>
        <br /><input type="text" name="search2" /><b> (max value)</b>
    </div>
} 
<br />

<p>
    @using (Html.BeginForm("ListApartmentsLoggedOut", "Apartments", FormMethod.Get))
    {
        <text>Type</text>
        <select class="ddownColor" id="typeFilter" name="typeFilter">
            <option value="EntirePlace" selected="selected">Entire place</option>
            <option>Room</option>
        </select>
        <button class="ddownColor" type="submit" name="submit" value="TypeFilter">Filter</button>

    }
    @using (Html.BeginForm("ListApartmentsLoggedOut", "Apartments", FormMethod.Get))
    {
        <text>Amenity</text>
        <select class="ddownColor" id="amenityFilter" name="amenityFilter">
            @foreach (var item in ViewBag.Amnts)
            {
                if (item.IsDeleted == false)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            }
        </select>
        <button class="ddownColor" type="submit" name="submit" value="AmenityFilter">Filter</button>
    }
</p>

<br />

<table class="table">
    <tr>
        <th> @Html.ActionLink("Type", "ListApartmentsLoggedOut", new { sort = ViewBag.SortByType, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Host", "ListApartmentsLoggedOut", new { sort = ViewBag.SortByHost, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Price", "ListApartmentsLoggedOut", new { sort = ViewBag.SortByPrice, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Rooms", "ListApartmentsLoggedOut", new { sort = ViewBag.SortByRooms, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Guests", "ListApartmentsLoggedOut", new { sort = ViewBag.SortByGuests, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th>Status</th>
        <th> @Html.ActionLink("City", "ListApartmentsLoggedOut", new { sort = ViewBag.SortByCity, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Street", "ListApartmentsLoggedOut", new { sort = ViewBag.SortByStreet, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th></th>
    </tr>
    @foreach (var apartment in Model)
    {
        if (apartment.Status == AirBnB.Models.enums.ApartmentStatus.Active)
        {
            <tr>
                <td>@apartment.Type</td>
                <td>@apartment.Host.Username</td>
                <td>@apartment.Price</td>
                <td>@apartment.NumberOfRooms</td>
                <td>@apartment.NumberOfGuests</td>
                <td>@apartment.Status</td>
                <td>@apartment.Location.Address.City</td>
                <td>@apartment.Location.Address.Street</td>
                <td>@Html.ActionLink("More info", "ApartmentDetails", new { id = @apartment.Id })</td>
            </tr>
        }
    }
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $('input[type="radio"]').click(function () {
            if ($(this).attr('id') == 'priceOpt' || $(this).attr('id') == 'roomsOpt') {
                $('#show-me').show();
            }
            else {
                $('#show-me').hide();
            }
        });
    });
</script>

<style>
    #show-me {
        display: none;
    }

    .ddownColor {
        color: black;
        width: 110px;
    }

    label {
        width: 70px;
        font-size: 15px;
    }

    button {
        height: 27px;
    }
</style>