﻿@model IEnumerable<AirBnB.Models.Apartment>

@{
    ViewBag.Title = "ListAllApartments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListAllApartments</h2>

@using (Html.BeginForm("ListAllApartments", "Apartments", FormMethod.Get))
{
    <b> Search options:  </b>
    <input type="radio" value="Location" id="locationOpt" name="option" checked /><label>Location </label>
    <input type="radio" value="Guests" id="guestsOpt" name="option" /><label>Guests </label>
    <input type="radio" value="Rooms" id="roomsOpt" name="option" /><label>Rooms </label>
    <input type="radio" value="Price" id="priceOpt" name="option" /><label>Price </label>

    <div>
        <input type="text" name="search" />
        <input type="submit" name="submit" value="Search" />
        @Html.ActionLink("Reset", "ListAllApartments")
    </div>
    <div id="show-me" hidden>
        <br /><input type="text" name="search2" /><b> (min-max)</b>
    </div>
}
<br />

<p>
    @using (Html.BeginForm("ListAllApartments", "Apartments", FormMethod.Get))
    {
        <label>Type </label>
        <select class="ddownColor" id="typeFilter" name="typeFilter">
            <option value="EntirePlace" selected="selected">Entire place</option>
            <option>Room</option>
        </select>
        <button class="ddownColor" type="submit" name="submit" value="TypeFilter">Filter</button>
    }
    @using (Html.BeginForm("ListAllApartments", "Apartments", FormMethod.Get))
    {
        <label>
            Status
        </label>
        <select class="ddownColor" id="statusFilter" name="statusFilter">
            <option selected="selected">Active</option>
            <option>Inactive</option>
        </select>
        <button class="ddownColor" type="submit" name="submit" value="StatusFilter">Filter</button>
    }
    @using (Html.BeginForm("ListAllApartments", "Apartments", FormMethod.Get))
    {
        <text>Amenity</text>
        <select class="ddownColor" id="amenityFilter" name="amenityFilter">
            @foreach (var item in ViewBag.Amnts)
            {
                if (item.IsDeleted == false)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            }
        </select>
        <button class="ddownColor" type="submit" name="submit" value="AmenityFilter">Filter</button>
    }

</p>

<table class="table">
    <tr>
        <th> @Html.ActionLink("Type", "ListAllApartments", new { sort = ViewBag.SortByType, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Host", "ListAllApartments", new { sort = ViewBag.SortByHost, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Price", "ListAllApartments", new { sort = ViewBag.SortByPrice, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Rooms", "ListAllApartments", new { sort = ViewBag.SortByRooms, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Guests", "ListAllApartments", new { sort = ViewBag.SortByGuests, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Status", "ListAllApartments", new { sort = ViewBag.SortByStatus, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("City", "ListAllApartments", new { sort = ViewBag.SortByCity, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
        <th> @Html.ActionLink("Street", "ListAllApartments", new { sort = ViewBag.SortByStreet, option = Request.QueryString["option"], search = Request.QueryString["search"] }) </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Host.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfRooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfGuests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Address.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Address.Street)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditApartmentVM", new { Controller = "Apartments", action = "EditApartmentVM", id = item.Id })|
            @Html.ActionLink("Details", "ApartmentDetails", new { Controller = "Apartments", action = "ApartmentDetails", id = item.Id })|
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $('input[type="radio"]').click(function () {
            if ($(this).attr('id') == 'priceOpt' || $(this).attr('id') == 'roomsOpt') {
                $('#show-me').show();
            }
            else {
                $('#show-me').hide();
            }
        });
    });
</script>

<style>
    #show-me {
        display: none;
    }

    .ddownColor {
        color: black;
        width: 110px;
    }

    label {
        width: 70px;
        font-size: 15px;
    }

    button {
        height: 27px;
    }
</style>