﻿@model IEnumerable<AirBnB.Models.Amenity>

@{
    ViewBag.Title = "ViewApartmentAmenities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Apartment Amenities</h3>
<p>
    @Html.ActionLink("Back to apartment info", "ApartmentDetails", new { id = ViewBag.AptId })
</p>
<table class="table">

@foreach (var item in Model) {
    <tr>
        @Html.DisplayFor(modelItem => item.Name) |
    </tr>
}

</table>
