﻿@model IEnumerable<AirBnB.Models.Image>

@{
    ViewBag.Title = "ViewApartmentImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Apartment Images</h3>
<p>
    @Html.ActionLink("Back to apartment info", "ApartmentDetails", new { id = ViewBag.AptId })
</p>

@foreach (var image in Model)
{
    <img src="~/Images/@image.Name" height="150" width="200" />
}