﻿@model IEnumerable<AirBnB.Models.Review>

@{
    ViewBag.Title = "ViewApartmentReviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Apartment Reviews</h3>

<p>
    @Html.ActionLink("Back to apartment info", "ApartmentDetails", new { id = ViewBag.AptId })
</p>
<table class="table">
    <tr>
        <th>
            Who wrote it
        </th>
        <th>
            Comment
        </th>
        <th>
            Rating
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Guest.Username</td>
            <td>@item.Comment</td>
            <td>@item.Rating</td>
        </tr>
    }

</table>
