﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Amenities home page</h2>

@Html.ActionLink("Add new amenity", "AddAmenity") <br />
@Html.ActionLink("List of all amenities", "ListAmenities")