﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body> 
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AirBnB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("HOME", "Index", "Home")</li>
    <li>@Html.ActionLink("ABOUT", "About", "Home")</li>
    <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>-->
                    @if (Session["id"] == null)
                    {
                        <li>@Html.ActionLink("Registration", "Register", "Accounts")</li>
                    }
                    @if (Session["id"] != null && (string)Session["Role"] == "Admin")
                    {
                        <li>@Html.ActionLink("List of users", "ListUsers", "Accounts")</li>
                    }
                    @if (Session["id"] == null)
                    {
                        <li>@Html.ActionLink("Login page", "Login", "Accounts")</li>
                    }
                    @if (Session["id"] == null || (string)Session["Role"] == "Guest")
                    {
                        <li>@Html.ActionLink("Active apartments", "ListApartmentsLoggedOut", "Apartments")</li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] == "Admin")
                    {
                        <li>@Html.ActionLink("Admins list", "ListAdmins", "Accounts")</li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] == "Admin")
                    {
                        <li>@Html.ActionLink("Apartment list", "ListAllApartments", "Apartments")</li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] == "Host")
                    {
                        <li>@Html.ActionLink("My apartments", "ListMyApartments", "Accounts")</li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] == "Host")
                    {
                        <li>@Html.ActionLink("Add apartment", "AddApartment", "Apartments")</li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] != "Admin")
                    {
                        <li>@Html.ActionLink("My Profile", "Edit", "Accounts")</li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] == "Admin")
                    {
                        <li>@Html.ActionLink("New Host", "MakeNewHost", "Accounts")</li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] == "Admin")
                    {
                        <li>@Html.ActionLink("Reviews", "ListReviews", "Reviews")</li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] == "Admin")
                    {
                        <li>@Html.ActionLink("Amenities", "ListAmenities", "Amenities")</li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] == "Host")
                    {
                        <li>@Html.ActionLink("All active apartments", "ListApartmentsLoggedOut", "Apartments")</li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] == "Guest")
                    {
                        <li>@Html.ActionLink("Leave a review", "Add", "Reviews")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["Id"] != null)
                    {
                        <li>@Session["Username"]</li>
                        <li>@Html.ActionLink("Log Out", "Logout", "Accounts")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
