﻿@model IEnumerable<AirBnB.Models.Review>

@{
    ViewBag.Title = "ListReviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of all Reviews</h2>

<table class="table">
    <tr>
        <th>Guest who left it</th>
        <th>For apartment(id)</th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        @if ((string)Session["Role"] == "Host" || (string)Session["Role"] == "Admin")
        {
            <th>Hidden</th>
        }
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @item.Guest.Username
            </td>
            <td>
                @item.Apartment.Id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            @if ((string)Session["Role"] == "Host" || (string)Session["Role"] == "Admin")
            {
                <td>@item.IsHidden</td>
            }

        </tr>

    }

</table>
